{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/five_page.css' %}">
    </head>

<div class="wrapper">


<div class="all-content">
    

    <div class="title">
        <h2 class="title">Монтаж очистных сооружений сточных вод и КНС</h2>
    </div>
    <p class="text-subtitles">На этапе проектирования оборудования следует также составить подробный план со всеми необходимыми расчетами по месторасположению. <br><br>

 

При монтаже оборудования в грунт необходимо учитывать важные факторы: уровень грунтовых вод, состав грунта, рельеф, расстояние. <br><br>

 

В процессе монтажа используется специальная грузоподъемная техника. <br><br>

 

Во избежание возможных дополнительных трудностей и затрат, обращайтесь к опытным профессионалам.</p>

    <div class="img">
        <img src="{% static 'img/montaj.jpg' %}" alt="" class="img">
    </div>
</div>


<div class="content-3">
    <div class="title">
        <h2 class="title">Монтаж канализационной насосной станции (КНС)</h2>
    </div>
    <p class="text-title">1. В специально подготовленный котлован на бетонную подушку устанавливается корпус КНС. <br>
2. Нижнюю часть емкости закрепляют к бетонному основанию с помощью анкерных болтов.<br>
3. До уровня коллекторов КНС засыпается песком.<br>
4. Присоединение трубопроводов и окончательная засыпка установки.<br>
5. Монтаж насосного оборудования во внутрь станции.<br>
6. Монтаж шкафа управления.<br>
7. Присоединение центрального кабеля к шкафу управления.<br>
8. Присоединение кабеля к насосам, датчикам, пультом управления и прочими элементами КНС.</p>

    <div class="three-bloks">

        <div class="block">
            <img src="{% static 'img/11.jpeg' %}" alt="" class="img">
            <li class="title">Проекты под ключ</li>
            <p class="subtitle">Разработка проектной (рабочей) документации в полном объеме</p>
            <a href="" class="button-href">Смотреть подробнее</a>
        </div>

        <div class="block">
            <img src="{% static 'img/22.jpeg' %}" alt="" class="img">
            <li class="title">Консультации</li>
            <p class="subtitle">Расчёт расходов, выбор площадки для размещения очистных сооружений, состав оборудования и другое</p>
            <a href="" class="button-href">Смотреть подробнее</a>
        </div>

        <div class="block">
            <img src="{% static 'img/33.jpg' %}" alt="" class="img">
            
            <li class="title">Разработка отдельных объектов</li>
            <p class="subtitle">и сооружений для Вашего проекта </p>
            <a href="" class="button-href">Смотреть подробнее</a>
        </div>


    </div>
    <hr style="margin-top: 50px; background-color: #333;">

    <div class="row">

        <a href="">
            <div class="cardd col-md-4 col-sm-6 col-12">
                <div class="iimmgg">
                    <img src="{% static 'img/44.jpg' %}" alt="" class="img">
                </div>
                <a href="" class="text-href">
                    Монтаж установки биологической очистки
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </div>
        </a>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <div class="iimmgg">
                <img src="{% static 'img/55.jpg' %}" alt="" class="img"></div>
                <a href="" class="text-href">
                    Монтаж септика
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href=""><div class="iimmgg">
                <img src="{% static 'img/66.jpg' %}" alt="" class="img"></div>
                <a href="" class="text-href">
                    Монтаж жироуловителя
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href=""><div class="iimmgg">
                <img src="{% static 'img/77.jpg' %}" alt="" class="img"></div>
                <a href="" class="text-href">
                    Монтаж пескоуловителя
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href=""><div class="iimmgg">
                <img src="{% static 'img/88.jpg' %}" alt="" class="img"> </div>
                <a href="" class="text-href">
                    Монтаж нефтеуловителя
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href=""><div class="iimmgg">
                <img src="{% static 'img/99.jpeg' %}" alt="" class="img"></div>
                <a href="" class="text-href">
                    Монтаж песконефтеуловителя
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

    </div>
</div>
</div>
{%endblock%}