{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/liscence.css' %}">
</head>

<div class="wrapper">
	<h4>Лицензии </h4><br>
	<div class="grid-liscence">
		<div class="img-itms"><a href="{% static 'img/наг1.png' %}"><img src="{% static 'img/наг1.png' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг2.png' %}"><img src="{% static 'img/наг2.png' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг3.png' %}"><img src="{% static 'img/наг3.png' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг4.png' %}"><img src="{% static 'img/наг4.png' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг5.png' %}"><img src="{% static 'img/наг5.png' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг6.png' %}"><img src="{% static 'img/наг6.png' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг7.png' %}"><img src="{% static 'img/наг7.png' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг8.jpg' %}"><img src="{% static 'img/наг8.jpg' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг9.png' %}"><img src="{% static 'img/наг9.png' %}" alt=""></a></div>
		<div class="img-itms"><a href="{% static 'img/наг10.png' %}"><img src="{% static 'img/наг10.png' %}" alt=""></a></div>
	</div>
</div>


{% endblock %}